.title {
    color: black;
}

#behind {
    background-color: #FFC100;
    height: 1080px;
}

.header{
    
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 50%);
    
    margin-left: 2%;
    margin-bottom: 1%;
    
    font-weight: 600;

}

.headercontent {
    margin-left: 0.5%;
    color: black;
}

#levelbar {
    width: 30%;
}