.title {
    color: black;
}

#behind {
    background-color: #FFC100;
    height: 1440px;
}

.header{
    
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 50%);
    
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 100px;
    
    font-weight: 600;

}

#headerrow {
    margin-bottom: 2%;
    margin-top: 2%;
}

.header {
    font-weight: 600;
}

#certificaterow {
    margin-bottom: 1%;
}

.certificate {
    width: 100%;
}

#levelbar {
    width: 100%;
}